/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  --r-globalnav-flyout-close-delay: 0.12s;
  --r-globalnav-flyout-link-opacity-duration: 0.5s;
  --r-globalnav-flyout-spacing: 88px;
  --r-globalnav-next-flyout-height: 0px;
  --r-globalnav-previous-flyout-height: 0px;
  --r-globalnav-height: 44px;
  --r-globalnav-color: rgba(0, 0, 0, 0.8);
  --r-globalnav-color-secondary: #333336;
  --r-globalnav-color-hover: #000000;
  --r-globalnav-font-size: 17px;
  --globalnav-background: none;
  --globalnav-backdrop-filter: none;
}
