.globalHeader {
  background-color: #f5f5f7;
}

.globalnav {
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: var(--globalnav-backdrop-filter);
  backdrop-filter: var(--globalnav-backdrop-filter);
}

.globalnav:not([dir="rtl"]) {
  --r-globalnav-start: var(--r-sk-start, left);
  --r-globalnav-end: var(--r-sk-end, right);
  --r-globalnav-safe-area-inset-start: var(
    --sk-safe-area-inset-start,
    env(safe-area-inset-left)
  );
  --r-globalnav-safe-area-inset-end: var(
    --sk-safe-area-inset-end,
    env(safe-area-inset-right)
  );
  --r-globalnav-logical-factor: 1;
}

.globalnav[dir="rtl"] {
  --r-globalnav-start: var(--r-sk-start, right);
  --r-globalnav-end: var(--r-sk-end, left);
  --r-globalnav-safe-area-inset-start: var(
    --sk-safe-area-inset-start,
    env(safe-area-inset-right)
  );
  --r-globalnav-safe-area-inset-end: var(
    --sk-safe-area-inset-end,
    env(safe-area-inset-left)
  );
  --r-globalnav-logical-factor: -1;
}

/* Container centralizado */
.globalnavContent {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: max(22px, var(--r-globalnav-safe-area-inset-start));
  padding-inline-end: max(22px, var(--r-globalnav-safe-area-inset-end));
  --r-globalnav-flyout-rate: 0s;
  --r-globalnav-duration-medium: 0.24s;
  z-index: 2;
}

/* Itens do menu */
.globalnavList {
  cursor: default;
  margin: 0 -8px;
  width: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
}

.globalnavItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 100%;
  transform-origin: 50%;
  transition: opacity 0.24s cubic-bezier(0.4, 0, 0.6, 1);
}

.globalnavItem a {
  color: var(--globalnav-text-color);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.globalnavItem a:hover {
  opacity: 0.6;
}

/* Ícones do lado direito (ex: lupa, sacola) */
.globalnavIcons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.globalNavLink {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--r-globalnav-color);
  position: relative;
  z-index: 1;
  padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));
  height: 44px;
  overflow-y: hidden;
  overflow-x: clip;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}

.globalNavImageRegular {
  display: flex;
}
.globalNavImageCompact {
  display: none;
}
@media (max-width: 833px) {
  .globalNavImageRegular {
    display: none;
  }
  .globalNavImageCompact {
    display: flex;
  }
}
